<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension id="product" point="org.eclipse.core.runtime.products">
    <product
      application="org.eclipse.scout.rt.demo.ui.rap.app"
      name="demo">
      <property
        name="appName"
        value="demo">
      </property>
    </product>
  </extension>
  <extension id="app" name="demo" point="org.eclipse.core.runtime.applications">
   <application>
     <run class="org.eclipse.scout.rt.ui.rap.RwtApplication"/>
   </application>
  </extension>
  <extension
    point="org.eclipse.scout.rt.ui.rap.lookAndFeel">
    <decorations
      scope="global">
      <mandatory>
        <starMarker
          placement="afterLabel">
        </starMarker>
      </mandatory>
    </decorations>
    <properties
      scope="global">
      <property
        name="formMainBoxBorder.visible"
        value="false">
      </property>
    </properties>
  </extension>
  <extension
    point="org.eclipse.rap.ui.entrypoint">
    <entrypoint
      class="org.eclipse.scout.rt.demo.ui.rap.StandaloneRwtEnvironment"
      id="default"
      path="/web"/>
  </extension>
  <extension point="org.eclipse.rap.ui.branding">
    <branding body="web-resources/startup-body.html" favicon="web-resources/eclipseScout.gif" id="org.eclipse.scout.rt.demo.ui.rap.branding" servletName="web" themeId="org.eclipse.scout.rt.ui.rap.theme" title="demo">
      <additionalHeaders>
        <link href="res/html-styles.css" rel="stylesheet"/>
      </additionalHeaders>
    </branding>
  </extension>
  <extension point="org.eclipse.rap.ui.themes">
    <themeContribution file="theme/application.css" themeId="org.eclipse.scout.rt.ui.rap.theme"/>
  </extension>
  <extension point="org.eclipse.equinox.http.registry.resources">
    <resource alias="/res" base-name="/web-resources"/>
  </extension>
  <extension
    point="org.eclipse.scout.http.servletfilter.filters">
    <filter
      aliases="/"
      class="org.eclipse.scout.http.servletfilter.security.AnonymousSecurityFilter"
      ranking="10">
    </filter>
    <filter
      aliases="/web"
      class="org.eclipse.scout.http.servletfilter.security.BasicSecurityFilter"
      ranking="20">
    </filter>
  </extension>
</plugin>
