<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?><target name="ScoutRAP" sequenceNumber="4">
<locations>
<location path="${eclipse_home}\target\rap-rt-NO-DROPIN\eclipse\" type="Directory"/>
<location path="${eclipse_home}" type="Profile"/>
</locations>
<launcherArgs>
<vmArgs>-Xms256m -Xmx512m -XX:MaxPermSize=256m</vmArgs>
</launcherArgs>
</target>
