<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  <extension id="app" name="Application" point="org.eclipse.core.runtime.applications">
    <application>
      <run class="org.eclipsescout.demo.widgets.ui.swing.WidgetSwingApplication"/>
    </application>
  </extension>
  <extension  id="product" point="org.eclipse.core.runtime.products">
    <product
          application="org.eclipsescout.demo.widgets.ui.swing.app"
          name="Scout Widget Demo App Client">
       <property
             name="appName"
             value="Scout Widget Demo App Client">
       </property>
    </product>
  </extension>
  <extension id="app_rayo" name="Application" point="org.eclipse.core.runtime.applications">
    <application>
      <run class="org.eclipsescout.demo.widgets.ui.swing.rayo.SwingRayoApplication"/>
    </application>
  </extension>
  <extension id="product_rayo" point="org.eclipse.core.runtime.products">
     <product
           application="org.eclipsescout.demo.widgets.ui.swing.app_rayo"
           name="Scout Widget Demo App Client">
        <property
              name="appName"
              value="Scout Widget Demo App Client">
        </property>
     </product>
  </extension>
  <extension
        id="rayo_product"
        point="org.eclipse.core.runtime.products">
     <product
           application="org.eclipsescout.demo.widgets.ui.swing.app"
           name="Scout Widget Demo App Client">
        <property
              name="appName"
              value="Scout Widget Demo App Client">
        </property>
     </product>
  </extension>
</plugin>
