<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  <extension id="app" name="Application" point="org.eclipse.core.runtime.applications">
    <application>
      <run class="org.eclipse.scout.rt.demo.ui.swing.rayo.SwingApplication"/>
    </application>
  </extension>
  <extension id="product" point="org.eclipse.core.runtime.products">
    <product
          application="org.eclipse.scout.rt.demo.ui.swing.rayo.app"
          name="demo">
       <property
             name="appName"
             value="demo">
       </property>
    </product>
  </extension>
</plugin>
